//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//neutral colours
$lkt-white: #fafafa;
$lkt-grey: #afafaf;
$lkt-black: #323232;
//branding colours
$lkt-main-dark: #3f1c30;
$lkt-main-pink: #fd3f81;
$lkt-lt-pink: #fbd5e1;
